/*  CSS Demo Stylesheet     */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing:border-box;
}
*,
*:before,
*:after {
  box-sizing:inherit;
}

/*  ---------------Utility Classes-----------------  */


.container{
  width:80vw;
  max-width:1140px;;
  margin:20px auto;
}

.img-right{
  float:right;
  margin: 10px 0 10px 20px;
  border: 1px solid #cccccc;
  padding: 5px 5px 25px 5px;
}

.img-left{
  float:left;
  margin: 10px 20 10px 0px;
  border: 1px solid #cccccc;
  padding: 5px 5px 25px 5px;
}

.img-center{
  display:block;
  margin: 20px auto;
  border: 1px solid #cccccc;
  padding: 5px 5px 25px 5px;
}


/*  ---------------Responsive Images-----------------  */
img{
  max-width:100%;
}







/*  ---------------Global Styles-----------------  */
body{
font-family: "Montserrat", sans-serif;
margin:0;

}
header.primary{
background-color:#2577c9;
text-align:center;
  /* the shadow on text with a value in the third being blur */
text-shadow: 1px 1px #000000;
color:#ffffff;
  /*Single value short hand padding*/
padding:40px;
  /*long form padding*/
  /* 
  padding-top:40px;
  padding-right:40px;
  padding-bottom:40px;
  padding-left:40px; 
  */
  /*T,R,B, L*/
  /*    padding:20px 40px 20px 40px;    */
  /* Two value T/b R/L 
    padding:20px 40px;   */
}
 header.primary h1{
  font-size: 2.4rem
 }
 header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
 }
  header.primary h2{
  font-size:1.4rem;
  letter-spacing:.2px;
  color: #ffffff;
  
  margin: 10px 0 0 0;
  }
  header.primary nav ul{
    padding:0;
    /* this shows list layerout */
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:2opx 0 10px 0;

  }
   header.primary nav li{
    list-style-type:none;

  }
  
    header.primary nav ul a{
      color:#ffffff;
      background-color: #000000;
      padding:5px 7.5px;
      border-radius:20px;
      text-decoration:none;
      /* the element OPACITY is for lightening the entire element */
      background-color: rgba(0,0,0,0.4);
      font-size:.9rem;
      transition:.3s;

    }
    header.primary nav a:hover{
      background-color: rgba(0,0,0,0.7);

    }
  
    #intro h2{
      color:#2577c9;
      border-bottom:1px dotted #000;
}
 #content{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  margin: 20ps auto;
 }

 #content .post{
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
  padding: 10px;
  font-size: .8rem;
 }

#content .post figure{
  margin:0;
}

#content time.post-date, #content figcaption{
  text-transform:uppercase;
  font-size:.5rem;
}

#content a{
  color:#2577c9;
 /* transition:.3s;       Does not work  */
}

#content a:hover{
  text-decoration:none;
}

#practice h2{
  color:#2577c9;
  border-bottom:1px dotted #000;
  
}
 
#practice a{
  color:#2577c9;
}
#practice a:hover{
  text-decoration:none;
}

#practice p{
  /* Use the line-height in the beginning and globally */
  /* line-height:1.5; */
}


#practice h3{
  border-left:4px solid #2577c9;
  padding-left: 10px;
}
#practice table{
  width:100%;
  border:1px solid #c0c0c0;
  border-collapse:collapse;
}
#practice caption{
  font-weight:900;
  font-size: 1.5rem;
  margin: 10px;
}
#practice tr:hover{
  background-color: rgba(0,0,0,0.4)
}
#practice tr:nth-child(odd){
  background-color: rgba(0,0,0,0.09);
}
#practice th{
  background-color:#172635;
  color:#ffffff;
  padding:5px;
}
#practice td{
  border:3px solid #c0c0c0;
  padding: 5px;
}
#practice td:nth-child(1n+2){
  text-align: right;
}

#practice ol{
  list-style-type:upper-roman;
}

#practice ul ul{
  color:red
}

#pracrice dt{
  font-weight:bold;
}
/*#practice dt:nth-child(1n+2){
  margin-top:20px
}*/
dd + dt{
  margin-top:20px
  /* does the same as the top */
}
#practice dd{
  margin-left:0;
}
#practice blockquote{}

#practice blockquote cite{
  /*new line */
  display:block;
  font-size: .8rem;
  text-align:right;

}
aside[role="complementary"]{
  background-color:#172735;
  color:#ffffff;
  padding: 40px 0;
}

aside .container{
display:flex;
flex-direction:row;
justify-content:space-around;
gap: 40px;
}

aside .container a{
  color:#ffffff
}

aside .container a:hover{
  text-decoration:none;
}

aside .container a:last-child{
  color:#ffffff;
  display:block;
  text-align:right;
  margin: 20px;
}

aside .widget footer{
  display:none;
}


#colophon{
  background-color:#2577c9;
  padding:1px;
  text-align:center;
  font-weight: 900;
  color:#ffffff;
}








  /* Media Query */
  @media screen and (max-width:540px){

    header.primary nav ul{
    flex-direction:column;
    gap:10px;
  
  }

  header.primary nav ul a{
  display:block;
  }
  #content{
  flex-direction:column;
 }
 /*linking images out of style.css will start with .. */

  .container{
  background-color:transparent;
  width:90vw;
  margin:20px auto;
}

